# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Django
db.sqlite3
media/
staticfiles/
.pytest_cache/
.coverage
htmlcov/
*.log

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db